<footer>
  <div class="container">
    <div class="tab-nav-container shadow"  [ngStyle]="{'background-color': getBackgroundColor(id)}">
      <a class="tab purple" [ngClass]="{'active': state === 'home' }" (click)="setActiveState('home')" routerLink="/home">
        <i class="fas fa-home unclickable"></i>
        <p class="unclickable">Home</p>
      </a>
      <a class="tab pink" [ngClass]="{'active': state === 'likes' }" (click)="setActiveState('likes')" routerLink="/likes">
        <i class="far fa-heart unclickable"></i>
        <p class="unclickable">Likes</p>
      </a>
      <a class="tab green" [ngClass]="{'active': state === 'search' }" (click)="setActiveState('search')"  routerLink="/search">
        <i class="fas fa-search unclickable"></i>
        <p class="unclickable">Search</p>
      </a>
      <a class="tab teal" [ngClass]="{'active': state === 'profile' }" (click)="setActiveState('profile')"  routerLink="/profile">
        <i class="far fa-user unclickable"></i>
        <p class="unclickable">Profile</p>
      </a>
    </div>
  </div>
</footer>