<section class="content">
    <div class="pan-element">
        <div id="top-pan-element" class="pan-front promote-layer" (panstart)="onPanStart($event)" (pan)="onPan($event)"
            (panend)="onPanEnd($event)">
            <div class="swipe-options">
                <button (click)="blueButtonClick($event)"></button>
                <button (click)="greenButtonClick($event)"></button>
                <button (click)="redButtonClick($event)"></button>
                <button (click)="yellowButtonClick($event)"></button>
            </div>
        </div>
    </div>
</section>