@import url('https://fonts.googleapis.com/css?family=Courgette');

h2 {
    color: rgb(31, 0, 168);
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
}
#second {
    font-family: 'Courgette', cursive;
}