<section class="content">
    <div class="pan-element">
        <div class="pan-back">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
        <p id="top-pan-element" class="pan-front promote-layer" 
            (panstart)="onPanStart($event)"
            (pan)="onPan($event)" 
            (panend)="onPanEnd($event)">Pan Me</p>
    </div>
</section>

<section class="content">
    <input type="number" [(ngModel)]="sideAmount" (keyup)="sideViewChange()">
</section>