<section class="content">
    <div class="swipe-element">
        <div class="swipe-back">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
        <p id="top-swipe-element" 
            class="swipe-front promote-layer" 
            (pan)="onPan($event)"
            (panstart)="onPanStart($event)"
            (panend)="onPanEnd($event)">Swipe Me</p>
    </div>
</section>

<section class="content">
    <div class="swipe-element">
        <div class="swipe-back">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
        <p class="swipe-front promote-layer">Swipe Me Too</p>
    </div>
</section>