/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif;
	// background: rgba(104, 183, 82, 0.5);
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	transition: background 0.4s linear;
  width: 100%;

  margin: 0;
  padding: 0;

  background-color: #d3e2fc;

  font-family: 'Roboto', sans-serif;
  // color: #ecf0f1;
	color: #000000;
}

app-root{
  width: 100vw;
}