@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

h2 {
    color: rgb(31, 0, 168);
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
}
#third {
    font-family: 'Dancing Script', cursive;
}