@import url('https://fonts.googleapis.com/css?family=Lobster|Courgette|Dancing+Script|Permanent+Marker');


h2 {
    color: rgb(31, 0, 168);
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
}

#first {
    font-family: 'Lobster', cursive;
}
#second {
    font-family: 'Courgette', cursive;
}
#third {
    font-family: 'Dancing Script', cursive;
}
#fourth {
    font-family: 'Permanent Marker', cursive;
}